<div class="container mt-5">
    <div *ngIf="image" class="row">
        <div class="col-md-9">
            <h1>Identifier: {{image.id}}</h1>
        </div>
       
        <div class="col-md-3">
            <a class="btn btn-danger" routerLink="/">Back</a>
        </div>

        <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{panelOpenState ? 'Show less details' : 'Show all details'}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p><strong>Author:</strong> {{image.author}}</p>
            <p><strong>Size:</strong> {{image.width}} x {{image.height}}</p>
            <p><strong>Url:</strong> {{image.url}}</p>
            <img style="width: 80%; height: 80%;" class="rounded" src="{{image.download_url}}" alt="">
        </mat-expansion-panel>
    </div>
</div>